header
{
    background: url("img/en_tete.png");
    position: relative;
    width: 100%;
    height: 60vh;
    background-size: cover;
}
body
{
  background-color: #f6f6f4;
  width: 100%;
  height: auto;
}
p
{
  color: #000b2c;
  text-align: justify
}
h1
{
  font-family: 'Gabriela', serif;
  color:  #000b2c;
}

li
{
    display: inline-block;
}
#navbarNav
{

  color: #000b2c;
  font-size: 20px;
  font-weight: bold;
}
img
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}
footer
{

}
.header
{
  display: block;

  max-width: 100%;
  height: 60vh;
  object-fit: contain;
  }

.card
{
  width: 100%;
}

@media screen {
  display: fullscreen;
}

.container
{
  display: flex;
  flex-direction: column;
  height: auto;
}
.offer
{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 15vh;
  object-fit: cover;

}
.hours_open
{
  display: flex;
  flex-direction: row;

}
.customer_reviews
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;
}
.icons
{
  display: flex;
  flex-direction:column;
}
.infomation
{

}
.contact
{

}
